<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="microsoft.visualstudio.testtools"
             type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection,
         Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions"/>
  </configSections>

  <connectionStrings>
    <add name="MyDbConn" connectionString="Data source=(localdb)\MSSQLLocalDB; Initial Catalog=Demo; Integrated Security=True"
         providerName="System.Data.SqlClient"
         />
  </connectionStrings>


  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="MyDataSource"
           connectionString="MyDbConn"
           dataTableName="Numbers"
           dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>
</configuration>